{% if include.lookup %}
  {% assign member = site.members 
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign member = include %}
{% endif %}

<div class="portrait-wrapper">
  <figure class="left-aligned-figure rectangular-figure">
    <img
      src="{{ member.image | relative_url }}"
      class="portrait-image"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >
  </figure>
  
  <!-- Move the caption to the right -->
  <div class="caption">
    {% if member.name %}
      <div class="portrait-name">
        {{ member.name }}
      </div>
    {% endif %}

    {% if member.role or member.description %}
      <div class="portrait-role">
        <span>{{ member.description | default: member.role }}</span>
      </div>
    {% endif %}
  </div>
</div>
