
{% if include.lookup %}
  {% assign member = site.members 
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign member = include %}
{% endif %}

<div class="portrait-wrapper">
  <figure class="left-aligned-figure rectangular-figure">
    <img
      src="{{ member.image | relative_url }}"
      class="portrait-image"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >
  </figure>
  
  <!-- Move the caption to the right -->
  <div class="caption">
    {% if member.name %}
      <div class="portrait-name">
        {{ member.name }}
      </div>
    {% endif %}

    {% if member.role or member.description %}
      <div class="portrait-role">
        <span>{{ member.description | default: member.role }}</span>
      </div>
    {% endif %}
  </div>
</div>

<style>
  /* CSS */
  .rectangular-figure {
    width: 400px; /* Set the width to 400 pixels */
    height: 300px; /* Set the height to 300 pixels */
    float: left; /* Float the figure to the left */
  }

  .caption {
    float: left; /* Float the caption to the left */
    margin-left: 20px; /* Add a margin between the figure and the caption */
  }
</style>
