
{% if include.lookup %}
  {% assign member = site.members 
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign member = include %}
{% endif %}

<div class="portrait-wrapper">
  <figure class="left-aligned-figure rectangular-figure"> <!-- Added class "rectangular-figure" -->
    <img
      src="{{ member.image | relative_url }}"
      class="portrait-image"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >

    {% if member.name or member.role or member.description %}
      <span class="portrait-text">
        {% if member.name %}
          <span class="portrait-name">
            {{ member.name }}
          </span>
        {% endif %}

        {% if member.role or member.description %}
          <span class="portrait-role">
            <span>{{ member.description | default: member.role }}</span>
          </span>
        {% endif %}
      </span>
    {% endif %}
  </figure>
</div>

<style>
  /* CSS */
  .rectangular-figure {
    width: 400px; /* Set the width to 400 pixels */
    height: 300px; /* Set the height to 300 pixels */
  }
</style>
